@import './focus_modal.scss';
@import 'objects.scss';
@import 'mixins.scss';


html {
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

body {
  margin: 0;
  background: #202124;
  color: #f1f1f1;
}

.item-link {
  cursor:pointer;
}


// Title and Logo

.app__title {
  margin-top: 19px;
  position: fixed;
  font-size: 0.9em;
  z-index: 2;
  left: 110px;
  text-transform: uppercase;
  max-width: 100px;
  overflow: hidden
}

@media screen and (max-width: 1279px){
  
  .app__title {
    margin-top: 50px;
    position: fixed;
    font-size: 0.5em;
    z-index: 2;
    left: 2.5vw;
    text-transform: uppercase;
  }
  .logoNasa img {
    position: fixed;
    width: 50px;
    margin-left: -79vw;
    margin-top: -15px;
}
}

@media screen and (min-width: 1280px){
   .logoNasa img {
      position: fixed;
      width: 80px;
      margin-left: 30px;
      margin-top: 3px;
  }
}


// SearchBar

.searchbar {
  
  text-align: center;
  position: fixed;
  z-index: 3;
}

@media screen and (min-width: 1280px){

  .searchbar__input {
    position: absolute;
    width: 690px;
    left: 200px;
    height: 36px;
    margin-top:16px;
    border-radius: 16px;
    border: 1px solid #5f6368;
    box-shadow: none;
    background-color: #303134;
    color: white;
    text-align: left;
    text-indent:1.3em;
    font-size: 1em;
  }
}

@media screen and (max-width: 1279px){
  
  .searchbar {
    position: fixed;
    width: 100vw;
    height: 61px;
    background-color: #303134;
    text-align: center;
    z-index: 1;
  }

  .searchbar__input {
    position: fixed;
    width: 50vw;
    height: 25px;
    left: 25vw;
    top: 16px;
    margin: 0;
    border-radius: 16px;
    border: 1px solid #5f6368;
    box-shadow: none;
    background-color: #303134;
    color: white;
    text-align: left;
    text-indent:0.7em;
    font-size: 0.8em;
  }

}


.items {
  margin-top: 72px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.item {
  overflow: hidden;
  text-align: left;
  margin: 4% 0 4% 0;
}

@media screen and (max-width: 1279px){
.item {
  text-align: center;
}
}

// h2 Title

.item__title {
  font-size: 1.5em;
  max-width: 66.6vw;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  color: #a2b1e2;
}

@media screen and (max-width: 1279px){
  .item__title {
    max-width: none;
  }
  }


p {
max-width: 75%;
font-size: 1em;
color:#bdc1c6;
margin: 0;
}

@media screen and (max-width: 1279px){
  p {
    max-width: none;
    text-align: left;
  }
  }

.item__keywords {
  margin: 7px 0 7px 0;
  max-width: 66.6vw;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1279px){
  .item__keywords {
    max-width:none;
  }
  }

// linkWords

.item__keyword {
  background: transparent;
  border: none;
  white-space: nowrap;
  color: var(--hoverColor);
}

.item__keyword:hover {
  cursor: pointer;
  text-decoration: underline;
}

// ImageContainer


.item__preview {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 2%;
  background-size: cover;
  position: absolute;
  right: 5vw;
  z-index: -1;
}

@media screen and (max-width: 1279px){

  .item__preview {
    margin: 25px 0 25px 0px;
    background-size: cover;
    position: relative;
    right: 0;
  }
}
